<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IPHONEOS_DEPLOYMENT_TARGET</key>
	<integer>12</integer>
	<key>AccountKitClientToken</key>
	<string>b3d6b246db287885b9e1f42db244dfb1</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CallCab</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>CallCab</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.239640610908-klqar62sgql4r9n0gt8h2p1hjq84e666</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ak790103201152072</string>
				<string>fb790103201152072</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_NAME)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.seentechs.CallCabuser</string>
				<string>switch</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>790103201152072</string>
	<key>FacebookDisplayName</key>
	<string>CallCab</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>skype</string>
		<string>CallCab Motorista</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-share-api</string>
		<string>fb</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-platform-20150128</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150305</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
		<string>comgooglemaps</string>
		<string>googlechromes</string>
		<string>$(PRODUCT_NAME)</string>
		<string>org-appextension-feature-password-management</string>
		<string>com.paypal.ppclient.touch.v2</string>
		<string>com.paypal.ppclient.touch.v1</string>
		<string>tel</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) to Enable camera access so that you can allow Driver to view your photo.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationUsageDescription</key>
	<string>$(PRODUCT_NAME) track your position to calculate the trip distance.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) track your position to calculate the trip distance.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) uses to contact trip driver.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) to Enable camera access so that you can allow Driver to view your photo.</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.239640610908-klqar62sgql4r9n0gt8h2p1hjq84e666</string>
	<key>UIAppFonts</key>
	<array>
		<string>uber-clone-mobile.ttf</string>
		<string>ClanPro-Book.otf</string>
		<string>uber-clone-mobile.ttf</string>
		<string>ClanPro-Medium.otf</string>
		<string>ClanPro-NarrBook.otf</string>
		<string>ClanPro-NarrMedium.otf</string>
		<string>ClanPro-NarrNews.otf</string>
		<string>ClanPro-News.otf</string>
		<string>GOTHICB.otf</string>
		<string>GOTHIC.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Account</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
